@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$bg-color: hsl(0, 0%, 12%);
$bg-gris: hsl(225, 20%, 16%);
$white: hsl(0, 0%, 84%);
$white-hover: hsl(0, 0%, 100%);
$orange: hsl(21, 90%, 48%);
$orange-hover: hsl(32, 95%, 44%);
$green: hsl(142, 76%, 36%);
$green-hover: hsl(142, 71%, 45%);
$pruple: hsl(271, 81%, 56%);
$pruple-hover: hsl(271, 91%, 65%);
$pink: hsl(330, 50%, 60%);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Raleway", system-ui;
  background-color: $bg-color;
}

  a{
    text-decoration: none;
  }