@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --textos: hsl(172, 37%, 8%);
    --cyan: hsl(174, 80%, 50%);
    --gris: hsl(180, 28%, 93%);
}
body{
    font-family: "Poppins", sans-serif;
    color: var(--textos);
}
a{
    text-decoration: none;
}

/* 1280 > */
header{
    width: 1280px;
    height: 64px;
    margin: auto;
    padding: 0px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header nav a{
        padding: 12px;
        font-size: 20px;
        color: var(--textos);
    }
    /* botón sign up */
    header nav a:nth-child(4){
        padding: 12px 16px;
        border-radius: 8px;
        background-color: var(--cyan);
    }
    header nav a:nth-child(4):hover{
        background-color: hsl(174, 100%, 40%);
        color: white;
    }
    /* botón log in */
    header nav a:nth-child(5){
        margin-left: 12px;
        padding: 12px 16px;
        border-radius: 8px;
        background-color: var(--gris);
    }
    header nav a:nth-child(5):hover{
        background-color: hsl(180, 28%, 80%);
    }
/* main */
main{
    width: 1024px;
    margin: auto;
}
    #hero-banner{
        height: 528px;
        margin-top: 40px;
        padding: 16px;
        background-image: url(../imgs/hero-benner.jpg);
        background-repeat: no-repeat;
        background-position: center center;
    }
        #hero-banner article{
            margin-top: 252px;
            margin-left: 24px;
            width: 688px;
            padding: 8px 24px;
            background-color: hsla(172, 37%, 8%, 40%);
            color: white;
        }
            #hero-banner article h1{
                margin-bottom: 16px;
                font-size: 48px;
                font-weight: 700;
            }
            #hero-banner form{
                width: 688px;
                height: 64px;
                margin: 24px;
                padding: 8px 16px;
                background-color: #fff;
                border-radius: 16px;

                display: flex;
                align-items: center;
            }
                #hero-banner form input{
                    width: 512px;
                    padding: 16px;
                    border: none;
                    font-family: "Poppins", sans-serif;
                    color: var(--textos);
                    font-size: 20px;

                }
                #hero-banner form button{
                    width: 140px;
                    padding: 12px;
                    background-color: var(--cyan);
                    border: none;
                    border-radius: 12px;

                    font-family: "Poppins", sans-serif;
                    color: var(--textos);
                    font-size: 16px;
                    font-weight: 600;

                    cursor: pointer;
                }
/* how-we section */
    #how-we{
        width: 768px;
        margin-top: 24px;
        padding-left: 16px;
    }
        #how-we h2{
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 24px;
        }

/* why-choose section */
    #why-choose{
        margin-top: 40px;
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
        #why-choose h3{
            /* width: calc(1024px - 32px); */
            /* width: 100% */
            margin-right: 600px;
            margin-bottom: 24px;
            font-size: 22px;
            font-weight: 600;
        }
        #why-choose article{
            width: 300px;
            padding: 16px;
            border: 1px solid hsl(167, 33%, 86%);
            border-radius: 8px;
            background-color: hsl(156, 45%, 98%);
            transition: .5s;
        }
        #why-choose article:hover{
            background-color: hsl(174, 31%, 45%);
        }

            #why-choose article svg{
                width: 24px;
                fill: hsl(174, 31%, 45%);
            }
            #why-choose article:hover svg{
                fill: white;
            }
            #why-choose article:hover h4,
            #why-choose article:hover p
            {
                color: white;
            }

            #why-choose article h4{
                font-weight: 600;
            }
            #why-choose article p{
                color: hsl(174, 31%, 45%);
                font-size: 14px;
            }

footer{
    height: 156px;
}

/* ############## 1024 ############### */
@media screen and (max-width: 1024px) {
    header{
        width: 1024px;
        padding: 0px 8px;
    }
}
/* ############## 1024 ############### */
@media screen and (max-width: 768px) {
    header{
        width: 768px;
        height: 40px;
        padding: 0px 16px;
    }
    #hero-banner{
        width: 768px;
        background-size: 736px 480px;
    }
    #why-choose{
        margin-top: 44px;
    }
        #why-choose article{
            width: 100%;
        }
}

/*
640 >
*/