body{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
}
    main{
        width: 768px;
        margin: 40px auto;
    }

    img{
        width: 64px;
    }

    svg{
        padding: 8px;
        width: 64px;
        /* fill: #4F968F; */
        fill: hsl(0, 60%, 60%);
    }
    svg:hover{
        background-color: hsl(0, 60%, 60%);;
        fill: hsl(0, 60%, 100%);
    }

