body{
    background-color: #131e17;
    width: 768px;
    margin: auto;
}
    section{
        height: 256px;
    }
    #verde{ background-color: hsl(132, 49%, 66%);}
    #celeste{
        background-color: hsl(180, 49%, 66%);
        position: relative;
        z-index: 2;
    }
    #azul{
        background-color: hsl(200, 49%, 45%);
        transform: translateY(-100px);
    }